###################
# Python and Docs #
###################

# exclude the testing file
/test_paladins.py
/test_smite.py
# exclude Python's cache files
__pycache__
# exclude built docs
/docs/_build
# exclude distribution and packaging stuff
build
dist
*.egg-info
# include the example and setup files
!/example.py
!/setup.py

################
# VSCode stuff #
################

# exclude MyPy cache
.mypy_cache
# exclude Pytest cache
.pytest_cache
# exclude api creds and cassettes test files
/tests/secret.py
/tests/cassettes
# exclude coverage report data
/.coverage
/coverage.xml
