###################
# Python and Docs #
###################

# exclude the testing file
/tests.py
# exclude Python's cache files
__pycache__/
# exclude built docs
/docs/_build
# exclude distribution and packaging stuff
build/
dist/
*.egg-info/
# include the example and setup files
!/example.py
!/setup.py

################
# VSCode stuff #
################

# exclude the MyPy cache
.mypy_cache
